<clr-main-container>
  <app-headbar></app-headbar>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="navbarIsCollapsed">
      <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="dashboard"></cds-icon>
        Dashboard
      </a>
      <a clrVerticalNavLink routerLink="/appliances" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="devices"></cds-icon>
        Appliances
      </a>
      <a clrVerticalNavLink routerLink="#" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="wrench"></cds-icon>
        Repairs
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="#" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="employee"></cds-icon>
        Employees
      </a>
      <a clrVerticalNavLink routerLink="#" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="users"></cds-icon>
        Customers
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
